/* Import fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* General rules */

body {
	margin: 0;
	background-color: #e5e5e5;
	color: #533738;

	/* Font settings */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
}

ul {
	list-style: none;
	margin: initial;
	padding: initial;
}

a {
	text-decoration: initial;
	color: currentColor;
}

a:hover {
	text-decoration: underline;
}

.page {
	width: 1400px;
	position: relative;
	background-color: white;
	overflow: hidden;
	min-height: 900px;
}

@media (min-width: 1401px) {
	.page {
		border-radius: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		filter: drop-shadow(0px 100px 80px rgba(38, 64, 131, 0.07))
			drop-shadow(0px 64.8148px 46.8519px rgba(38, 64, 131, 0.0531481))
			drop-shadow(0px 38.5185px 25.4815px rgba(38, 64, 131, 0.0425185))
			drop-shadow(0px 20px 13px rgba(38, 64, 131, 0.035))
			drop-shadow(0px 8.14815px 6.51852px rgba(38, 64, 131, 0.0274815))
			drop-shadow(0px 1.85185px 3.14815px rgba(38, 64, 131, 0.0168519));
	}
}

.container {
	width: 1036px;
	margin-left: auto;
	margin-right: auto;
}

/* Header */

header {
	display: flex;
	align-items: center;
	height: 25px;
	padding: 36px 100px;
	color: #533738;

	/* Font settings */
	font-size: 16px;
	line-height: 20px;
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 90px;
}

.logo > span {
	text-transform: uppercase;
}

nav {
	margin-right: 35px;
}

nav > ul {
	display: flex;
}

nav > ul > li {
	margin-right: 26px;
}

nav > ul > li:last-child {
	margin-right: 0;
}

/* Main banner */

.main-banner {
	background: url("image/main-banner-background.png");
}

.banner-content {
	padding-top: 55px;
	padding-bottom: 168px;
	display: flex;
	flex-direction: column;
}

.banner-content > h1 {
	font-size: 50px;
	line-height: 62px;
	font-weight: 400;
	margin: 0;
}

.banner-content > p {
	margin-top: 24px;
	margin-bottom: 21px;
	font-size: 18px;
	line-height: 30px;
}

.banner-content > a {
	width: 309px;
}

.request-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	background-color: #cc8b86;
	height: 74px;
	width: 309px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* About */

.about {
	background-color: #efe6e4;
	padding-top: 75px;
}

.about > h1 {
	font-size: 40px;
	line-height: 50px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.about-content {
	margin-top: 40px;
	padding-bottom: 21px;
	display: flex;
}

.about-descriprtion {
	margin-left: 64px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

.about-descriprtion > p:nth-child(1) {
	margin-top: 0;
}

.about-data {
	background-color: #8d7370;
	padding-top: 85px;
	padding-bottom: 81px;
}

.about-data-box {
	display: flex;
	justify-content: space-between;
}

.about-data-item {
	text-align: center;
}

.about-data-item > h1 {
	font-weight: 400;
	font-size: 50px;
	line-height: 62px;
	color: white;
	margin: 0;
}

.about-data-item > h2 {
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	text-transform: uppercase;
	color: white;
	margin-top: 8px;
	margin-bottom: 0;
}

/* Works */

.works {
	background-color: #efe6e4;
	padding-top: 56px;
	padding-bottom: 65px;
}

.works-container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.works-container > h1 {
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
}
